* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 100px;
    background-color: #000;
}
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    color: #FFF;
    align-items: center;
}
.logo {
    width: 100px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: end;
}
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #B28756;
}