* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
header {
    height: 100px;
    background-color: #000;
}
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    color: #FFF;
    align-items: center;
}
.logo {
    width: 100px;
}
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 40px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: end;
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    border-bottom: 5px solid #000;
}
.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #B28756;
    color: #CCC;
}
.button {
    display: inline-block;
    background-color: #B28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none ;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}
.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders {
    width: 1000vw;
    height: 100%;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}
.banner h1 span {
    color: #B28756;
}
.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}
.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: #B28756;
}
.default {
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title {
    font-size: 20px;
}
.default .section-desc {
    font-size: 12px;
    color: #CCC;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section-body {
    max-width: 1140px;
    margin: auto;
}
.default.light {
    background-color: #F7F7F7;
}
.default.light .section-title,
.default.light .section-body{
    color: #000;
}
.default.dark {
    background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body{
    color: #FFF;
}



/* CSS DE ÁREAS ESPECÍFICAS */
.section-aboutus {
    display: flex;
}
.section-aboutus--left {
    flex: 1;
}
.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}
.section-aboutus--right {
    width: 520px;
    text-align: center;
}
.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-services {
    display: flex;
}
.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.section-service:first-child {
    border-left: 1px solid #333;
}
.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters {
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}
.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}
.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid #B28756;
}
.section-projects--filters li:first-child {
    border-left: 0;

}
.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo {
    width: 280px;
}
.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}
.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}
.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}
.bg-team {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}
.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section-team .sliders {
    width: 1000vw;
    height: 100%;
}
.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}
.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}
.section-team-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team-area .pointer.active {
    background-color: #B28756;
}
.section-team--avatar {
    width: 150px;
    height: auto;
}
.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.section-team--social {
    display: flex;
    margin-top: 20px;
}
.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 13px;
    margin-right: 10px;
}
.section-team--social a:hover {
    background-color: #B28756;
}
.section-client,
.section-client .slidearea {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-client--avatar {
    width: 150px;
    height: auto;
}
.section-client--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-client--role {
    font-size: 15px;
    margin-top: 5px;
    color: #000;
}
.section-client-area .client-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-client-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-client-area .pointer.active {
    background-color: #B28756;
}
.section-client img {
    margin-top: 30px;
    margin-bottom: 20px;
}
.section-client p {
    text-align: center;
    max-width: 800px;
    margin: auto;
    color: #555;
}
.default.v-light {
    background-color: #FFF;
    border-top: 1px solid #cfcfcf;
    border-bottom:1px solid #cfcfcf;
    box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}
.section-enterprise--photos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-enterprise--photoarea img {
    width: 90px;
    height: auto;
}
.section-price-area {
    display: block;
    justify-content: center;
}
.section-price {
    display: flex;
    margin-top: 30px;
}
.section-price .slide {
    width: 255px;
    height: 100%;
    min-height: 340px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 15px;
    margin-left: 15px;
}
.section-price  .slidearea {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-price--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 15px;
}
.section-price--value {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}
.section-price--period {
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.section-price--list {
    width: 100%;
}
.section-price--list ul {
    list-style: none;
    padding: 0;
}
.section-price--list li {
    font-size: 12px;
    color: #555;
    padding: 5px 0;
}
.section-price--list li::after {
    content: '';
    display: block;
    margin: auto;
    width: 10px;
    height: 2px;
    background-color: #7e7e7e;
    margin-top: 12px;
}
.section-price--list li:last-child {
    border-bottom: 0;
}
.price-button {
    background-color: #333;
    padding: 15px 40px;
    margin-top: 25px;
    margin-bottom: 30px;
    display: inline-block;
}
.price-button:hover {
    background-color: #B28756;
    color: #FFF;
}
.button.price-button.active {
    background-color: #B28756;
}
.section-premium {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 45px;
    border-bottom: 1px solid #d8d8d8;
}
.premium-left {
    flex: 1;
    text-align: center;
    padding-right: 30px;
}

.premium-left img {
    width: 100%;
    max-width: 400px;
    height: auto;
}
.premium-right {
    flex: 1;
}
.premium-item {
    display: flex;
    margin-bottom: 20px;
}
.premium-item .icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    margin-top: 5px;
}
.premium-item h4 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
}
.premium-item p {
    color: #777;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 20px;
}
.premium-item ul {
    list-style: none;
    margin-top: 10px;
}

.premium-item li {
    font-size: 15px;
    color: #999;
    margin-bottom: 5px;
}
.premium-item li::before {
    content: '-';
    margin-right: 5px;
}
.premium-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.premium-pointers .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.pointer.active {
    background-color: #B28756;
}
.premium-button {
    display: flex;
    justify-content: center;
}
.section-facts {
    display: flex;
}
.section-fact {
    flex: 1;
    text-align: center;
    padding: 15px;
}
.section-fact h2 {
    color: #B28756;
    font-size: 40px;
    padding-bottom: 15px;
}
.section-fact h4 {
    font-size: 18px;
    text-transform: uppercase;
    min-height: 45px;
}
.section-fact h2::after {
    content: '';
    display: block;
    margin: auto;
    width: 10px;
    height: 2px;
    background-color: #7e7e7e;
}
.section-fact p {
    display: inline-block;
    justify-content: center;
    width: 170px;
    height: auto;
    color: #7e7e7e;
    text-align: justify;
    margin-top: 12px;
}
.section-social,
.social-share {
    display: flex;
    justify-content: center;
    color: #CCC;
    max-width: 640px;
    margin: auto;
}
.share {
    display: flex;
    align-items: center;
    margin-right: 60px;
    text-transform: uppercase;
    font-weight: bold;
}
.share img {
    margin-right: 10px;
}
.social {
    display: flex;
    align-items: center;
    flex: 1;
}
.social .twitter,
.social .linkedin,
.social .facebook,
.social .googleplus,
.social .pinterest {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}
.social .twitter {
    background-color: #33c4f0;
}
.social .linkedin {
    background-color: #137cb5;
}
.social .facebook {
    background-color: #326497;
}
.social .googleplus {
    background-color: #e94138;
}
.social .pinterest {
    background-color: #b91d2a;
}
.social img {
    margin: auto;
}